# Ignore everything
/*

# Folders
!/gradle
!/buildSrc
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle.kts
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle.kts
!/proguard.conf

!/mixinextras
!/zomboid
!/junit

# MacOS junk files
.DS_Store
