# Ignore everything
/*

!/.github
!/buildSrc
!/gradle
!/junit
!/src
!/zomboid

!/.cliff.toml
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle*
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle*
!/proguard.conf
